In [19]:
import pandas as pd
import torch

In [2]:
train_df = pd.read_csv("old_train_top_100k_gkb_mscg.tsv", sep="\t", header=None, names=["concept", "property"])

In [3]:
train_df

                          concept                 property
0                             age                   factor
1                            size  free rich company datum
2                         revenue  free rich company datum
3                      california                    state
4         msm glucosamine sulfate               supplement
...                           ...                      ...
196896  glycogen storage diseases       caused by mutation
196897                  glycerite                    ester
196898                    glycine         has calm effects
196899                    glycine              has effects
196900                    glycine                mino acid

[196901 rows x 2 columns]

In [4]:
train_df.drop_duplicates(inplace=True)
train_df.dropna(inplace=True)

In [5]:
train_df

                          concept                 property
0                             age                   factor
1                            size  free rich company datum
2                         revenue  free rich company datum
3                      california                    state
4         msm glucosamine sulfate               supplement
...                           ...                      ...
196896  glycogen storage diseases       caused by mutation
196897                  glycerite                    ester
196898                    glycine         has calm effects
196899                    glycine              has effects
196900                    glycine                mino acid

[194937 rows x 2 columns]

In [6]:
train_df["property"].isnull().values.any()

False

In [7]:
train_df["concept"].isnull().values.any()

False

In [8]:
train_df.reset_index(inplace=True, drop=True)

In [9]:
train_df

                          concept                 property
0                             age                   factor
1                            size  free rich company datum
2                         revenue  free rich company datum
3                      california                    state
4         msm glucosamine sulfate               supplement
...                           ...                      ...
194932  glycogen storage diseases       caused by mutation
194933                  glycerite                    ester
194934                    glycine         has calm effects
194935                    glycine              has effects
194936                    glycine                mino acid

[194937 rows x 2 columns]

In [10]:
train_df.to_csv("train_top_100k_gkb_mscg.tsv", sep="\t", header=False, index=False, index_label=None)

In [11]:
valid_df = pd.read_csv("old_valid_sampled_10k_top_100k_gkb_mscg.tsv", sep= "\t", header=None, names=["concept", "property"])

In [12]:
valid_df

                      concept                 property
0                       panel                     part
1                        gout                  problem
2                  golf shoes        have rubber soles
3                          un      global organization
4             atlantic salmon                  species
...                       ...                      ...
9995                    hails  cause structural damage
9996  boundary element method      numerical technique
9997                  miracle                    topic
9998                  medical                  product
9999                    forks            used for eats

[10000 rows x 2 columns]

In [13]:
valid_df.drop_duplicates(inplace=True)

In [14]:
valid_df

                      concept                 property
0                       panel                     part
1                        gout                  problem
2                  golf shoes        have rubber soles
3                          un      global organization
4             atlantic salmon                  species
...                       ...                      ...
9995                    hails  cause structural damage
9996  boundary element method      numerical technique
9997                  miracle                    topic
9998                  medical                  product
9999                    forks            used for eats

[9939 rows x 2 columns]

In [15]:
valid_df["property"].isnull().values.any()

False

In [16]:
valid_df["concept"].isnull().values.any()

False

In [17]:
valid_df.dropna(inplace=True)

In [18]:
valid_df.to_csv("valid_sampled_10k_top_100k_gkb_mscg.tsv",sep="\t", header=False, index=False, index_label=None)

In [20]:
s = torch.rand(2, 3)

In [21]:
s

tensor([[0.2892, 0.2843, 0.9273],
        [0.6600, 0.2839, 0.8103]])

In [23]:
t= s.numpy()

In [25]:
t.flatten()

array([0.28915524, 0.28433806, 0.9273462 , 0.65995425, 0.2838949 ,
       0.81030566], dtype=float32)

In [ ]:
l = [armour, axe, book, brush, bucket, buckle, cart, comb, crowbar, cupboard, helicopter, jet, lantern, laptop, oven, peg, pen, pistol, rake, rope, spoon, submarine, tack
a_toy	bicycle, bucket, doll, skateboard, snowboard, submarine, toy, train, wand]